table {
font-family: Montserrat;
font-size: 14px;
border-radius: 10px;
border-spacing: 2;
text-align: center;
}

th {
background: #fb401d;
font-size: 16px;
color: white;
padding: 10px 20px;
}

th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: #BACCAE;
}
th:first-child, td:first-child {
text-align: left;
}
th:first-child {
border-top-left-radius: 20px;
}
th:last-child {
border-top-right-radius: 20px;
border-right: none;
}
td {
padding: 10px 20px;
background: white;
}
tr:last-child td:first-child {
border-radius: 0 0 0 0px;
}
tr:last-child td:last-child {
border-radius: 0 0 0px 0;
}
tr td:last-child {
border-right: none;
}
